<h1>Welcome {{Username}} to the Escape Dashboard.</h1>
<p>Here you can create articles on what you want and post it to the website where pople can comment on or add the article to their collections.</p>
<p>The Escape community is all about innovation and to create a more desirable online community for our visitors. If you have some time, please let us know how we can make our website better for not only the community but yourselves as well.</p>
<p><a href="escape/article/new">Create a new story</a></p>