@model ArticleViewModel

<form asp-controller="Article" asp-action="CreateArticle" method="post">
    <label asp-for="NewArticle.title">Title:</label><br>
    <input asp-for="NewArticle.title"><br>
    <span asp-validation-for="NewArticle.title"></span><br>

    <label asp-for="NewArticle.subtitle">Sub Title:</label><br>
    <input asp-for="NewArticle.subtitle"><br>
    <span asp-validation-for="NewArticle.subtitle"></span><br>

    <label asp-for="NewArticle.body">Body:</label><br>
    <textarea rows="4" cols="50" asp-for="NewArticle.body"></textarea><br>
    <span asp-validation-for="NewArticle.body"></span><br>
    
    <input type="submit" value="Post">

</form>