<div class="navigation">
    <nav>
        <ul>
            <li><a href="escape/register">Create Account</a></li>
            <li><a href="escape/login">Login</a></li>
        </ul>
    </nav>
</div>
<div class="main">
    <p>All the articles will be going here thank you.</p>
    <p><a href="escape/Dashboard">UserDashboard Checker</a></p>
    <p><a href="newarticle">New Article Checker</a></p>
    <p><a href="escape/edit/article">Edit Article Checker</a></p>
    <p><a href="escape/logout">Logout</a></p>
</div>