<nav>
    <ul>
        <li><a href="escape/register">Create Account</a></li>
        <li><a href="escape/login">Login</a></li>
    </ul>
</nav>
<p>All the articles will be going here thank you.</p>
<p><a href="escape/Dashboard">UserDashboard Checker</a></p>
<p><a href="escape/logout">Logout</a></p>
This should show only if you are logged in.